name: Fullstack

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch depth 0 is needed if you want to use advanced features that rely on full git history
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          # Caches Maven dependencies to speed up subsequent runs
          cache: 'maven'

      - name: Build with Maven
        run: mvn test
        # The -B flag is for "batch mode" which is useful for CI environments.
        # The 'package' goal compiles the code, runs the tests, and packages the result into a JAR/WAR.

      - name: Upload production artifact
        uses: actions/upload-artifact@v4
        with:
          name: your-application-name
          path: target/*.jar
          # Optionally, set a retention period for the artifact
          retention-days: 5
